body {
  display: grid;
  grid-template-rows: min-content auto 1fr;
  grid-template-columns: min-content auto 1fr;
  background-size: cover;
  min-height: 100vh;
}

textarea {
  width: 200px;
  height: 100px;
  cursor: default;
  grid-row: 1;
  grid-column: 1;
  background: red;
}

::-webkit-resizer {
  width:200px;
  height:200px;
  background:blue;
}
